@media (max-width: 350px) {
  .btn {
    height: 6.5rem;
    width: 6.5rem;
  }

  button {
    height: 5.5rem;
    width: 5.5rem;
  }

  .simon_div {
    gap: 0.4rem;
  }
  .red {
    margin-bottom: 0.4rem;
  }
  .blue {
    margin-bottom: 0.4rem;
  }
  .controls {
    padding: 0.4rem;
  }
}

@media (max-height: 740px) and (min-width: 1440px) {
  .btn {
    height: 8rem;
    width: 8rem;
  }

  button {
    height: 7rem;
    width: 7rem;
  }

  .red,
  .blue {
    margin-bottom: 0.5rem;
  }
  .simon_div {
    gap: 0.5rem;
  }
  .controls {
    padding: 0.5rem;
  }

  .display_container {
    margin-bottom: 1.5rem;
  }
}

@media (max-height: 640px) and (min-height: 360px) {
  .btn {
    height: 7rem;
    width: 7rem;
  }

  button {
    height: 6rem;
    width: 6rem;
  }

  .display_container {
    margin-bottom: 1rem;
  }
}

@media (max-height: 580px) {
  .btn {
    height: 6rem;
    width: 6rem;
  }

  button {
    height: 5rem;
    width: 5rem;
  }

  .display_container {
    margin-bottom: 1rem;
  }
  .display {
    font-size: 0.9rem;
  }

  main {
    position: static;
    top: 0;
    left: 0;
    transform: unset;
  }
}

@media (max-height: 400px) {
  .btn {
    height: 4.5rem;
    width: 4.5rem;
  }

  button {
    height: 3.5rem;
    width: 3.5rem;
  }
}
